@{
    ViewBag.Title = "Trang chủ";
}


<div class="col-md-4 w4_b4">
    <div class="w3_gap2" onclick="location.href='tra-cuu'">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
        <h3>Thông Tin Bảo Hành</h3>
        <h3>Warranty Status</h3>
    </div>
</div>
<div class="col-md-4 w4_b4">
    <div class="w3_gap1" onclick="location.href='kich-hoat'">
        <i class="fa fa-registered" aria-hidden="true"></i>
        <h3>Kích Hoạt Bảo Hành</h3>
        <h3>Warranty Activation</h3>
    </div>
</div>
<div class="col-md-4 w4_b4">
    <div class="w3_gap4" onclick="location.href='bao-hanh'">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        <h3>Đăng ký sửa chữa</h3>
        <h3>Repair registration</h3>
    </div>
</div>